<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sohchallenge6durable.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ed0f89d5-f8e4-41c7-b360-ae3785de6c11/resourceGroups/OpenHackRG/providers/Microsoft.Web/sites/sohchallenge6durable</ResourceId>
    <UserName>$sohchallenge6durable</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://sohchallenge6durable.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>